.app {
  font-family: sans-serif;
  text-align: center;
}

#options {
  display: flex;
  align-items: left;
  flex-direction: row;
  padding: 10px;
  max-width: 400px;
  margin: 10px auto;
}

#answerLabel {
  padding: 0px 10px;
}

#answer {
  font-weight: 100;
}

#feedback {
  font-style: italic;
}

.red {
  border: 3px solid red;
  text-decoration: line-through;
}

.green {
  border: 3px solid green;
}
